
.instagram {
    font-size: 60px;
    font-family: Informal Roman;
   
}

* {
    /* background: linear-gradient(to right, rgba(255,0,0,0), rgba(137,58,142));   */
    background: #525252;  
}
.form {
    color: #eee;
}

.bton{
    margin-left: 50px;
}

